<!doctype html>
<html lang="{{ site.lang | default: "de-DE" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title aria-label="dhammaregen">
      Dhammaregen
    </title>


{% seo %}
    <link rel="icon" 
        href="/dhammaregen/assets/img/favicon2.png" 
        type="image/x-icon"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
  <header>
  <div>
    <a href="https://voice.suttacentral.net"
      class="header-link"
      aria-label="zur voice-webseite"
      target="_blank"
      >SuttaCentral Voice</a>
  </div>
  <div>
    <a href="/dhammaregen"
      class="header-main"
      aria-label="Dhammaregen-Hauptseite"
      >Dhammaregen</a>
  </div>
  <div>
    <a href="/voice"
     class="header-sub"
     aria-label="zu Dhammaregen.github.io/voice"
     >Suttas</a>
  </div>
</header>

      <section>
        <p class="menu"
	   style="text-align: center;">
  <a class="menu" href="/dhammaregen/de/100-intro-voice">SuttaCentral Voice</a>  |
  <a class="menu" href="/dhammaregen/de/300-intro-sc">SuttaCentral</a>
        </p>
        {{ content }}
        <bottom-nav>
{% if page.prev %}
          <div style="inline-block">
            <a href="{{page.prev_href}}" 
              class="nav-button"
              aria-label="zurück: {{page.prev_aria}}">
                {{page.prev}}&nbsp;<img
                src="/dhammaregen/assets/img/lft-arrow.png"
                class="nav-img"/>
            </a>
          </div>
{% endif %}
          <div style="inline-block">&nbsp;</div>
{% if page.next %}
          <div style="inline-block">
            <a href="{{page.next_href}}" 
              class="nav-button"
              aria-label="weiter: {{page.next_aria}}">
               <img src="/dhammaregen/assets/img/rht-arrow.png"
                class="nav-img"
                />&nbsp;{{page.next}}
            </a>
          </div>
{% endif %}
        </bottom-nav>
      </section>
    </div>
  </body>
</html>
